.vip{
    background-color: teal;
    text-align: center;
}

.regular{
    background-color: lightgray;
    text-align: center;
    font-size: 20px;
}

.bt{
    width: 100%;
    display: flex;
    margin: auto;
    justify-content: center;

}

.increase ,.decrease{
    width: 5%;
    padding: 10px;
    
}